.wrapper {
  display: flex;
  justify-content: space-between;
  background: black;
  padding: 1em;
}

aside {
  width: 35vw;
  height: 40vh;
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
  color: white;
  background: orangered;
}
main {
  width: 60vw;
  min-height: 150vh;
  background-image: linear-gradient(
    -225deg,
    #ff057c 0%,
    #8d0b93 50%,
    #321575 100%
  );
}

.writing-mode {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
